$background-body: #73b7e1;

$background-nav: rgba(256,256,256,0.5);

$color-text: white;
$color-link: #472063;

$background-button: #d469a5;
$border-button: 2px solid white;
$border-radius-button: 50px;
$padding-button: 5px 20px;

$background-button-hov: #fa75ad;