$font-family: 'Open Sans', sans-serif;

$font-weight-nav: 400;
$font-weight-button: 700;

$font-size-nav: 1.2em;
$font-size-p: 1.3em;
$font-size-h1: 3em;

$line-height-p: 1.4em; 
$line-height-h1: 1.2em;